$main-color: #292828;
$secondary-color: #f5f0f0;
$nav-color: #000000;
$pinHeight: 280px;
$pinWidth: 300px;
$growFactor : 1.5; // 1.5 times the original size
$duration : 450ms;

// $pinWidth : 250px;
// $pinHeight : ($pinWidth / (16/9));
// $iconSize : 50px;

$moveLeft : -($pinWidth * ($growFactor - 1) / 2);
$moveRight : $pinWidth * ($growFactor - 1);

.feed {
  width: auto;
  // background-color: $main-color;
  justify-content: center;
  margin: 5px;
}

.pin {
  width: $pinWidth;
  height: $pinHeight;
  margin-left: 10px;
  text-decoration: none;
  // transition: $duration all;
  // z-index: 10;
}

.pin:hover {
  // margin: 20px;
}

.categories {
  // background-color: $main-color;
  display: flex;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  // overflow-x: scroll;
}

.catLabel {
  // color: $secondary-color;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

.catContainer {
  position: relative;
}

a {
  text-decoration: none;
}

.title {
  text-decoration: none;
  font-weight: bold;
  color: #e5e5e5;

}


.title-pin{
  padding-left: 10px;
  padding-right: 10px;
  color: #e5e5e5;

}

.img {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}

.scrollLeft {
  background-color: black;
  opacity: 0%;
  border: 0px;

  position: absolute;
  top: 17.5%;
  left: 0.5%;
  height: $pinHeight;
  width: 50px;
  color: white;
  z-index: 10;
}

.scrollRight {
  background-color: black;
  opacity: 0%;
  border: 0px;

  position: absolute;
  top: 17.5%;
  left: 97%;
  height: $pinHeight;
  width: 50px;
  color: white;
  z-index: 10;
}

.scrollLeft:hover {
  opacity: 70%;
  transition-duration: 0.1s;
}

.scrollRight:hover {
  opacity: 70%;
  transition-duration: 0.1s;
}

.scroll:focus {
  outline-width: 0;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

// .categories:hover {
//   transform: translate3d($moveLeft, 0, 0)
// }

// .categories:hover .pin {

//   // And then grow the current pin and make it opaque again
//   &:hover {
//     transform: scale($growFactor);
//     opacity: 1;
//   }

//   opacity: .3
// }

// // And finally move all pins right of the current pin to the right,
// // so its flush against the hovered pin
// .pin:hover ~ .pin {
//   transform: translate3d($moveRight, 0, 0)
// }