$main-color: #292828;
$secondary-color: #f5f0f0;
$nav-color: #000000;

.feed {
  width: auto;
  // background-color: $main-color;
  justify-content: center;
  margin: 5px;
}

.pin {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  text-decoration: none;
}

.categories {
  // background-color: $main-color;
  display: flex;
  width: 100%;
  overflow: auto;
}

.catLabel {
  // color: $secondary-color;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.title {
  color: black;
  font-weight: bold;
}

.img {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}
