$main-color: #292828;
$secondary-color: #f5f0f0;
$nav-color: #000000;

html {
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
}

.body-profile{
  background-color: #141414;
  color:#e5e5e5;
}


.username {
  position: relative;
  top: 0.5em;
}

#searchBar{
  width: 800px;
}

.loggedIn {
  margin-left: 5px;
  margin-right: 5px;
}
#navbar{
  background-color: black;
}
.nav-btn{
  color: #e5e5e5;
  background-color: black;
  border-width: 0px;
  margin-right: 40px;
}

.nav-btn:hover{
  cursor: pointer;
  outline-width: 0px;
}

.checked {
  color: #decb1d;
}

.pin {
  text-decoration: none;
  background-color: black;
}

.edit-section{
  display: flex;
  width: 30%;
  height: 70%;
  flex-flow: column wrap;
}

.updaters{
  margin:20px;
}
