// See: https://sass-lang.com/

html {
  background-color: #292828;
}

body {
  background-color: #292828;
}

#navbar {
  background-color: #000000;
}

.noUser {
  position: relative;
  left: 75%;
}

.username {
  position: relative;
  top: 0.5em;
}

.loggedIn {
  position: relative;
  left: 70%;
}

.checked {
  color: yellow;
}

.pin {
  text-decoration: none;
}