$main-color: #292828;
$secondary-color: #f5f0f0;
$nav-color: #000000;

html {
  scroll-behavior: smooth;
}

// body {
  // background-color: $main-color;
// }

#navbar {
  background-color: #f2e9e9;
  width: 100%;
}

.noUser {
}

.username {
  position: relative;
  top: 0.5em;
}

.loggedIn {
}

.checked {
  color: yellow;
}

.pin {
  text-decoration: none;
  background-color: #f2e9e9;
}
