
nav {
  width: 100vw
}

.big-pin{
  margin: 3%;
  display: flex;
}

.pinInfo{
  padding-right: 8%;
  padding-left: 4%;
}
.feed{
  display: flex;
  flex-flow: row wrap;
}

img.image {
  margin-left: 3%;
  margin-right: 2%;
  width: 590px;
  height: 570px;
  position: relative;
  border-radius: 5%;
}


.title{
  width: auto;
  margin-bottom: 60px;
  color: #e5e5e5;
}

a.url {
  text-decoration: none;
  color: black;
  position: relative;
}

a.url:hover {
  color: black;
}

.comments{
  background-color: black;
  border-radius: 1%;
}
.comment{
  display: flex;
  margin:10px;
  border-bottom: 1px solid #e5e5e5;
}
#delete{
}
.comment-image{
  height: 80px;
  border-radius: 10%;
  width: 80px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.comment-input{
  margin:10px;
  width: 97%;
  display: relative;
}

.post-comment{
  float: right;
  margin-right: 20px;
}
.comment-section{
  margin-top: 60px;
}

.comments-header{
  padding: 10px;
}

#create-board{
  display: flex;
  flex-flow: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

#addPin{
  margin-top: 30px;
}

#title-board{
  margin-bottom: 10px;
}
#description-board{
  margin-bottom: 10px;
}
#image-board{
  margin-bottom: 10px;
}

#btn-board{
  width: 75px;
}

#delete {
  float: right;
}
