.feed {
  width: auto;
  background-color: white;
  justify-content: center;
  margin: 5px;
}

.pin {
  width: 300px;
  height: 300px;
  margin-left: 5px;
}

.categories{
  display: flex;
  width: 100%;
  overflow: auto;
}

.title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}
